
:root{
 --bk: rgb(0, 0, 0);
/* --searchbutton:rgba(72, 43, 126); */ 
--col:rgb(237, 229, 229);
}
*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: var(--col);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body::before {
  content: '';
  position: fixed;
  inset: 0;
  background-color: rgba(10, 10, 0, 0.65); /* adjust opacity here */
  z-index: -1;
}
.card__main{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    height: 100vh;
    width: 100%;
    /* background-color: var(--bk); */
}
.part__1{
    height: 80%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.poster{
    height: 60%;
    width: 50%;
    border-radius: 20px;
    /* background-color: blue; */
    box-shadow: 3px 2px 2rem var(--bk);
    transition: all 0.2s ;
}
.poster>img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: fit;
    overflow: hidden;
}
.poster:hover{
    transform: scale(1.06);
}
.part__2{
    height: 90%;
    /* background-color: bisque; */
    display: flex;
    flex-flow: column nowrap;
    padding-top: 5rem;
    padding-right: 3rem;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 2rem;
}
.title{
    width: 100%;
    font-size: 1.6rem;
    
}
.title>h1{
    font-weight: 400;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.rating{
    width: fit-content;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 3rem;

}
.imdb{
    display: flex;
    justify-content: center;
    column-gap: 0.2rem;
}
.imdb>h4{
    font-weight: 500;
}
.imdb>div{
    display: flex;
    align-items: start;
}
.imdb>div>img{

    margin-top: 0px;
    height: 2rem;
}
.rating>h4{
    font-weight: 550;
}
.genre{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.genre>div{
    display: flex;
    width: fit-content;
    column-gap: 2rem;
    align-items: center;
}
.genre>h3{
    font-weight: 500;
}
.genre>div>h4{
display: block;
padding: 5px 10px;
border-radius: 15px;
font-weight: 400;
background-color: rgba(255, 255, 255, 0.1); 
backdrop-filter: blur(1px); 
-webkit-backdrop-filter: blur(1px); 
box-shadow: 1px 1px 10px var(--bk);
border: 1px solid rgba(255, 255, 255, 0.2);

}
.description{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    opacity: 1;
}
.description>h3{
    font-weight: 500;
}